#jumbo{
    background-color: rgb(233, 58, 58);
    color: white;
    text-align: center;
}

h1{
    font-family: 'Lobster', cursive;
}

#desc{
    font-family: 'Alata', sans-serif;
    text-align: center;
}
